02-DTD/Exercices/Mon_reve_familier.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!ELEMENT poeme (titre?, auteur, strophe+)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT strophe (vers | tercet)*>
<!ELEMENT tercet (vers)*>
<!ELEMENT vers (#PCDATA)>


<!ATTLIST poeme type CDATA #FIXED 'sonnet' >
<!ATTLIST strophe type (quatrain | sizain) #REQUIRED>
<!ATTLIST strophe n CDATA #IMPLIED >
<!ATTLIST tercet n CDATA #REQUIRED >
